.cssload-loader{
    display: none;
	position: relative;
	width: 563px;
	height: 75px;
	left: 25%;
	left: calc(50% - 281px);
		left: -o-calc(50% - 281px);
		left: -ms-calc(50% - 281px);
		left: -webkit-calc(50% - 281px);
        left: -moz-calc(50% - 281px);
    margin-top: 200px;
}

.cssload-loader:after{
	content: "Collection des Tweets en cours";
	text-transform:uppercase;
	color: rgba(52,140,235,0.74);
	font-family:	Lato,"Helvetica Neue" ;
	font-weight: 200;
	font-size: 60px;
	position: absolute;
	width: 100%;
	height: 75px;
	line-height: 75px;
	left: 0;
	top: 0;
	background-color: rgb(255,255,255);
	z-index: 1;
}

.cssload-loader:before{
	content: "";
	position: absolute;
	background-color: rgba(52,140,235,0.78);
	top: -19px;
	left: 0px;
	height: 113px;
	width: 0px;
	z-index: 0;
	opacity: 1;
	transform-origin:	100% 0%;
		-o-transform-origin:	100% 0%;
		-ms-transform-origin:	100% 0%;
		-webkit-transform-origin:	100% 0%;
		-moz-transform-origin:	100% 0%;
	animation: cssload-loader 11.5s ease-in-out infinite;
		-o-animation: cssload-loader 11.5s ease-in-out infinite;
		-ms-animation: cssload-loader 11.5s ease-in-out infinite;
		-webkit-animation: cssload-loader 11.5s ease-in-out infinite;
		-moz-animation: cssload-loader 11.5s ease-in-out infinite;
}



@keyframes cssload-loader{
		0%{width: 0px;}
		70%{width: 100%; opacity: 1;}
		90%{opacity: 0; width: 100%;}
		100%{opacity: 0;width: 0px;}
}

@-o-keyframes cssload-loader{
		0%{width: 0px;}
		70%{width: 100%; opacity: 1;}
		90%{opacity: 0; width: 100%;}
		100%{opacity: 0;width: 0px;}
}

@-ms-keyframes cssload-loader{
		0%{width: 0px;}
		70%{width: 100%; opacity: 1;}
		90%{opacity: 0; width: 100%;}
		100%{opacity: 0;width: 0px;}
}

@-webkit-keyframes cssload-loader{
		0%{width: 0px;}
		70%{width: 100%; opacity: 1;}
		90%{opacity: 0; width: 100%;}
		100%{opacity: 0;width: 0px;}
}

@-moz-keyframes cssload-loader{
		0%{width: 0px;}
		70%{width: 100%; opacity: 1;}
		90%{opacity: 0; width: 100%;}
		100%{opacity: 0;width: 0px;}
}