
.cssload-container{
    position:relative;
    margin-top: 250px;
}

.cssload-container::after{
    content: "chargement en cours...";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 18%;
    top: 150%;
    position: absolute;
}
	
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 3px solid rgb(204,204,204);
	border-left-color: rgb(0,0,0);
	border-radius: 2498px;
		-o-border-radius: 2498px;
		-ms-border-radius: 2498px;
		-webkit-border-radius: 2498px;
		-moz-border-radius: 2498px;
}

.cssload-whirlpool {
	margin: -63px 0 0 -63px;
	height: 125px;
	width: 125px;
	animation: cssload-rotate 1300ms linear infinite;
		-o-animation: cssload-rotate 1300ms linear infinite;
		-ms-animation: cssload-rotate 1300ms linear infinite;
		-webkit-animation: cssload-rotate 1300ms linear infinite;
		-moz-animation: cssload-rotate 1300ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -58px 0 0 -58px;
	height: 110px;
	width: 110px;
	animation: cssload-rotate 1300ms linear infinite;
		-o-animation: cssload-rotate 1300ms linear infinite;
		-ms-animation: cssload-rotate 1300ms linear infinite;
		-webkit-animation: cssload-rotate 1300ms linear infinite;
		-moz-animation: cssload-rotate 1300ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -73px 0 0 -73px;
	height: 140px;
	width: 140px;
	animation: cssload-rotate 2600ms linear infinite;
		-o-animation: cssload-rotate 2600ms linear infinite;
		-ms-animation: cssload-rotate 2600ms linear infinite;
		-webkit-animation: cssload-rotate 2600ms linear infinite;
		-moz-animation: cssload-rotate 2600ms linear infinite;
}


.content{
    display: none;
    
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}

