<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css' )}}" >

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {% if title %}
        <title>Twitter_Search - {{title}}</title>
    {% else %}
        <title>Twitter_Search</title>
    {% endif %}

</head>
<body>
    {% include "header.html" %}
<div id="home" style="transform: translateY(100px);">
<center><h1>Bienvenue sur notre site</h1></center>
</div>
<img src="{{url_for('static', filename='tweet.png')}}" class="img-responsive" style="max-width:100%;display:block;"/>

<div class="container-fluid">
<footer class="row" style="background-color: #34475E; color: white;position:absolute; width: 100%;">
  <div class="col-xs-6 col-md-6">
      <p>
        Nadia&amp;Barry&amp;Jihene
      </p>
  </div>
  <div class="col-xs-4 col-md-4">
    <div id="Copyright">
      <p>
        Copyright © 2019 WebAtHome - Tous Droits Réservés
      </p>
    </div>
  </div>
</footer>
</div>

</body>
</html>
