<!-- {% block content %} -->




    <div class="form-container">
        <h4>Veuillez entrer un nom de session, puis un/des mot(s) clé(s) si vous le souhaitez:</h4>
        <form action="" method="post">
            Mots Clés <br>

                <input type="text" name="msg" placeholder="Veillez entrer un nom svp !" id="message">

                <input type="submit" value="Envoyer" id="envoyer" />
                <input type="submit" name="stopbtn" value="stop" id="arrete"/>
                <br>
                <p style="color:red;" id="alert">Ce champ est requis<p>
            <!--<input type="submit" name="vis" value="Visualiser"/> !-->
        </form>
    </div>
    <script>
        $( document ).ready(function(){
           $('#arrete').hide();
           $('#alert').hide();
            $('#envoyer').click(function(e) {
                message = $('#message').val()
                if (message == "") {
                    $('#alert').show();
                    e.preventDefault();
                }else{


                }



                }
        );


  });

    </script>
</div>

<!-- {% endblock content %} -->
