<!--{% block content %}!-->

<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/" style="font-weight:100px;">PatientZero</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--<div class="collapse navbar-collapse" id="navbarToggle">!-->
            <div class="navbar">
                <a class="nav-item" href="/Research" style="color:white;text-decoration:none;padding-right:18px;">Nouvelle session</a>
                <!--<a class="nav-item nav-link" href="/about">About</a>!-->

                <!-- Navbar Right Side -->
                <!--<a href="/contact">Nouvelle session</a>!-->



                <ul class="dropdown" style="list-style:none;color: lightsteelblue;transform: translateY(5px);">
                    <li style="color: lightsteelblue;">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="list-style:none;background-color: lightsteelblue; color: black;">Charger</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="list-style:none;color: lightsteelblue;">
                            {% for c in cols %}
                                {%if c=="malade"%}
                                    <li><a class="dropdown-item" href="{{url_for('visub')}}">{{c}} ({{cli.command("collstats",c)['totalIndexSize']}} B)</a></li>
                                {%endif%}
                                {%if c!="malade"%}
                                <li><a class="dropdown-item" href="{{url_for('visua')}}">{{c}} ({{cli.command("collstats",c)['totalIndexSize']}} B)</a></li>
                                {%endif%}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>

            </div>
        </div>



    </nav>
</header>


<!--{% endblock content %}!-->
