<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css' )}}" >
    <link rel="stylesheet" type="text/css" href="../static/css/load2.css"
    <script src="../static/js/stop.js"></script>
    {% if title %}
        <title>PatientZero - {{title}}</title>
    {% else %}
        <title>PatientZero</title>
    {% endif %}
    
</head>
<body>
    {% include "header.html" %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <h3>Explication</h3>
                    <p class='text-muted'>Choisissez une session thème que vous souhaitez rechercher, et puis un mot clé si vous le souhaitez en rapport à votre thème. Vous trouverez des exemples ci-dessous.
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">Session: France </br> Mot(s) clé(s): Macron</li>
                            <li class="list-group-item list-group-item-light">Session: Benalla </br> Mot(s) clé(s): Passport</li>
                            <li class="list-group-item list-group-item-light">Session: GilletsJaunes </br> Mot(s) clé(s): Paris</li>
                            <li class="list-group-item list-group-item-light">Session: Foot </br> Mot(s) clé(s): PSG</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </main>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../static/lib/js/jquery.min.js"></script>
</body>
</html>