{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <!--<div class="cssload-loader"></div>-->
        <h4></h4>
        <form  method="post">
            Session:
            <input type="text" name="msg" placeholder="Session" required="required" /></br></br>
            Mot(s) :
            <input type="text" name="mots" placeholder="Mot(s) Clé(s)"/></br></br>

            <input class="envoyer_button" type="submit" value="Envoyer" name="boutton" id="envoyer" />

            <input class="stop_button" type="submit" value="stop" name="boutton" id="arrete" />


        </form>
    </div>

    <script>
    $( document ).ready(function(){
       $('#arrete').hide();
       $('#alert').hide();
        $('#envoyer').click(function(e) {
            message = $('#message').val()
            if (message == "") {
                $('#alert').show();
                e.preventDefault();
            }else{
                $('#arrete').show();
                e.preventDefault();



            }



            }
    );


});


    </script>

    <script src="../static/lib/js/jquery.min.js"></script>
    <script src="../static/lib/js/jquery-3.2.1.min.js"></script>

{% endblock content %}
